
<table>
{% for row in results %}
    <tr>
        <td>
        <a href="{{ path('_info', {id: row.id}) }}">{{ row.request.host }}</a>
        {{ row.request.path }}
        </td>
        <td>
        </td>
    </tr>
{% endfor %}
</table>
